<div class ="loginForm">
  <!--Add FormGroup woth our model-->
    <form [formGroup] = "LoginForm">
    <div class="form-group">
      <label>User Name</label>
      <!--Use class binding for validation-->
      <input [class.is-invalid]="LoginForm.get('email').invalid && LoginForm.get('email').touched" type="text" class="form-control" formControlName="email">
      <small [class.d-none]="LoginForm.get('email').valid || LoginForm.get('email').untouched" class="text-danger">Username is required</small>
    </div>
    
    <div class="form-group">
      <label>Password</label>
      <input [class.is-invalid]="LoginForm.get('password').invalid && LoginForm.get('password').touched" type="password" class="form-control" formControlName="password">
      <small [class.d-none]="LoginForm.get('password').valid || LoginForm.get('password').untouched" class="text-danger">Password is required</small>
    </div>
    <div class="signup">
        <a href="/signup" class="btn btn-link">sign up</a>
    </div>
    <div class="loginbtn">
        <button type="submit" [disabled]="LoginForm.invalid" (click)="login()" class="btn btn-primary butoonClass">Login</button>
    </div>
  </form>
  </div>