<div>
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a class="navbar-brand" href="#">MindBowser</a>
        </div>
        <!-- This will toggle the Logout and Login button -->
         <button mat-icon-button aria-label="Example icon-button with a login icon" class="navbtn" *ngIf="!_auth.loggedIn()" routerLink="/login" >
            <mat-icon>login</mat-icon>
        </button>
        <button  mat-icon-button aria-label="Example icon-button with a logout icon" class="navbtn" *ngIf="_auth.loggedIn()" (click)="_auth.logoutUser()">
            <mat-icon>logout</mat-icon>
        </button>
    </nav>
    <!-- Router Outlet -->
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>