<div>
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a class="navbar-brand" href="#">MindBowser</a>
        </div>

        <!-- <button mat-icon-button aria-label="Example icon-button with a login icon" class="navbtn" *ngIf="!_authService.loggedIn()" routerLink="/login" >
            <mat-icon>login</mat-icon>
        </button>
        <button  mat-icon-button aria-label="Example icon-button with a logout icon" class="navbtn" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">
            <mat-icon>logout</mat-icon>
        </button> -->


        <button mat-icon-button aria-label="Example icon-button with a login icon" class="navbtn"
        routerLink="/login" >
            <mat-icon>login</mat-icon>
        </button>
        <button  mat-icon-button aria-label="Example icon-button with a logout icon" class="navbtn">
            <mat-icon>logout</mat-icon>
        </button>
    </nav>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>