<div class="signupForm">
    <form [formGroup]="userform" (ngSubmit)="signup()">
        <label>Name</label>
        <div class="form-row">
            <div class="form-group col-md-6">
                <small class="text-info">First Name</small>
                <input [class.is-invalid]="userform.get('fname').invalid && userform.get('fname').touched" type ="text" class="form-control" formControlName="fname">
                <small [class.d-none]="userform.get('fname').valid || userform.get('fname').untouched" class="text-danger">First Name is required</small>
            </div>
            <div class="form-group col-md-6">
                <small class="text-info">Last Name</small>
                <input [class.is-invalid]="userform.get('sname').invalid && userform.get('sname').touched" type ="text" class="form-control" formControlName="sname">
                <small [class.d-none]="userform.get('sname').valid || userform.get('sname').untouched" class="text-danger">Last Name is required</small>
            </div>
        </div>
 
        <div class="form-group">
            <label>Email</label>
            <input [class.is-invalid]="userform.get('email').invalid && userform.get('email').touched"type="text" class="form-control" formControlName="email">
            <small [class.d-none]="userform.get('email').valid || userform.get('email').untouched" class="text-danger">invalid</small>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input [class.is-invalid]="userform.get('password').invalid && userform.get('password').touched" type="password" class="form-control" formControlName="password">  
        </div>
        
        <div class="form-group">
            <label>DOB</label>
            <input [class.is-invalid]="userform.get('dob').invalid && userform.get('dob').touched" type="date" class="form-control" formControlName="dob">
            <small [class.d-none]="userform.get('dob').valid ||userform.get('dob').untouched" class="text-danger">Invalid</small>
        </div>
        
        <div class="form-group">
            <label>Company</label>
            <input [class.is-invalid]="userform.get('company').invalid && userform.get('company').touched" type="text" class="form-control" formControlName="company">
            <small [class.d-none]="userform.get('company').valid ||userform.get('company').untouched" class="text-danger">Invalid</small>
        </div>
        
        <div class="form-group">
            <label>Address</label>
            <input [class.is-invalid]="userform.get('address').invalid && userform.get('address').touched"type="text" class="form-control" formControlName="address">
            <small [class.d-none]="userform.get('address').valid ||userform.get('address').untouched" class="text-danger">Invalid</small>
        </div>

        <br>
        <div class="signupbtn">
            <button  type="submit" [disabled]="userform.invalid" class=" btn btn-primary">Submit</button> 
        </div>        
    </form>  
</div>